.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;

    h2 {
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }

    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .description {
        width: 40%;
        position: relative;
        top: 10%;

        p {
          font-size: 16px;

          &::first-letter {
            font-size: 28px;
            font-family: Lexend;
          }
        }

        span {
          display: flex;
          align-items: center;
          gap: 5px;

          a {
            color: black;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer,
      .videoContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
          width: 100%;
          height: 100%;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 25px;
        }
      }
    }
  }

  /* --- MOBILE FIXES ONLY --- */
  /* --- MOBILE FIXES ONLY --- */
@media screen and (max-width: 768px) {
  height: auto;
  position: relative; // disable sticky for mobile

  .card {
    width: 100%;
    top: 0;
    padding: 20px;
    height: auto;

    .body {
      flex-direction: column; // stack description + media
      gap: 20px;

      .description {
        width: 100%;
        top: 0;
        position: relative;

        p {
          font-size: 16px;
        }
      }

      .imageContainer,
      .videoContainer {
        width: 100%;
        height: 300px; // fixed height for mobile
        display: block; // show all videos/images
        margin-bottom: 20px;
        position: relative;

        .inner {
          width: 100%;
          height: 100%;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 25px;
          position: relative !important; // override Next/Image fill positioning
        }
      }
    }
  }
}

}
