.contact {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141516;
  position: absolute;

  .button {
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px;

    p {
      position: relative;
      z-index: 1;
      transition: color 0.4s linear;
    }
  }

  .body {
    width: 100%;
    max-width: 1800px;
    background-color: #141516;

    .title {
      border-bottom: 1px solid rgb(134, 134, 134);
      padding-bottom: 100px;
      margin-left: 200px;
      margin-right: 200px;
      position: relative;

      span {
        display: flex;
        align-items: center;

        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }

        h2 {
          margin-left: 0.3em;
        }
      }

      h2 {
        font-size: 5vw;
        margin: 0;
        font-weight: 300;
      }

      .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);

        .rounded,
        .button {
          width: 180px;
          height: 180px;
          background-color: #455CE9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 0;

          p {
            margin: 0;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }
      }

      svg {
        position: absolute;
        top: 30%;
        left: 100%;
      }
    }

    .nav {
      display: flex;
      gap: 20px;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      padding: 20px;

      div {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        p,
        h3 {
          margin: 0;
          padding: 2.5px;
          cursor: pointer;
        }

        p {
          &::after {
            content: "";
            width: 0%;
            height: 1px;
            background-color: white;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        span {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        h3 {
          color: grey;
          cursor: default;
          font-weight: 300;
          font-size: 1em;
        }
      }
    }
  }

  /* --- MOBILE FIXES ONLY --- */
  @media screen and (max-width: 768px) {
    position: relative;
    padding: 40px 20px;
    height: auto;

    .body {
      max-width: 100%;
      margin: 0;
      padding: 0;

      .title {
        padding-bottom: 50px;
        margin: 0;
        text-align: center;

        span {
          flex-direction: column;
          align-items: center;
          gap: 10px;

          .imageContainer {
            width: 80px;
            height: 80px;

            img {
              object-fit: cover;
            }
          }

          h2 {
            margin-left: 0;
            font-size: 6vw;
          }
        }

        .buttonContainer {
          position: relative;
          left: auto;
          top: auto;
          display: flex;
          justify-content: center;
          margin-top: 20px;

          .button,
          .rounded {
            width: 120px;
            height: 120px;
            font-size: 14px;
          }
        }

        svg {
          position: relative;
          top: auto;
          left: auto;
          margin-top: 20px;
        }
      }

      .nav {
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
        gap: 10px;
      }

      .info {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        padding: 0;

        div {
          flex-direction: column;
          align-items: center;
          gap: 10px;

          span {
            gap: 10px;
          }

          p,
          h3 {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}
